@import 'https://fonts.googleapis.com/css?family=Play:400,700';
@import './columns.css';
@import './round-control.css';
@import './cube.css';

body,
html {
  background-color: #01132b;
  color: #fff;
  height: 100vh;
  font-family: 'Play';
  font-size: 13px;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.title {
  background-color: #004c98;
  color: #02feff;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.songs-title {
  background-color: #013066;
  height: 100px;
  padding: 10px;
}

.divider {
  background-color: #01539d;
  height: 10px;
}

.left-panel {
  background-image: linear-gradient(#00b4fd, rgba(1, 19, 43, 0));
  height: 100%;
  padding: 10px;
}
